@import '../../utils/mixin.styl'
.page-music
  height 100%
  // background linear-gradient(to bottom,black1 10%,black1 50px,rgba(0,0,0,0.9))
  background linear-gradient(90deg, #7E898F 0%, #636C75 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%)
  bakcground-blend-mode multiply,screen
  // background black1
  // background linear-gradient(130deg,#5e5e5e,#202020)
  // background linear-gradient(135deg,  rgba(186,67,168,0.38) 0%,rgba(233,79,205,0.17) 61%,rgba(234,79,206,0.19) 62%,rgba(83,123,173,0.8) 100%)
  // background radial-gradient(center,circle,rgba(black1,0.5),rgba(black1,0.7),rgba(black1,0.8))
  .wrapper2
    height 100%
    // background rgba(black2,0.48)
    padding-top 70px
    padding-bottom 50px
    display flex
    // justify-content center
    align-items center
    >article
      margin 0 auto
      width 1200px
      // color rgba() 
      color darkW(,0.9)
      display flex
      justify-content space-between
      border 1px solid #fff
      height 100%
      max-height 800px
      // margin-bottom 50px
      .menu
        flex 2
        border 1px solid #f00
        
      .detail
        flex 1
        border 1px solid  #ff0

