.page_about
  height 100%
  width @height
  display flex
  justify-content center
  align-items center
  // padding 0 100px
  >div
    height 400px
  .about_nav
    width 200px
    ul
      padding 50px 20px
      background darken(#fff,76)
      li
        line-height 50px
        text-align center
        border-bottom 1px solid darken(#fff,70)
        letter-spacing 16px
        transition all ease .4s
        cursor pointer
        &:first-child
          border-top @border-bottom
        &.current,&:hover
          color #fff
          padding-left 20px
        // &:hover
        //   color #fff
  .about_cnt
    flex 1
    >div
      display flex
      justify-content center
      align-items center
      font-size 30px
      height 80%