.pageHome
  // padding 80px 0
  // min-height 100%
  // flex 1
  height 100%
  display flex
  justify-content center
  align-content center
  flex-direction column
  >div
    height 400px
    >div
      float left
      // display flex
      // justify-content center
      height 400px
    .left
      width 400px
    .right 
      width 558px
    .center
      width  242px
      padding 3px 6px 31px 0
      box-sizing border-box

