.metro_blog
  display flex
  flex-direction column
  justify-content space-between
  height 100%
  background #404040
  box-sizing border-box
  padding 5px 10px
  >header,>footer
    height 40px
    line-height @height
  >main
    flex 1
    >ul
      height 100%
      >li
        height 100%
        float left
        width 50%
        >ul
          height 100%
          box-sizing border-box
          padding 10px 0
          display flex
          flex-direction column
          justify-content space-around 
