@import '../../style/mixin.styl';
.squre
  position relative
  width 180px
  height @width
  float left
  margin 3px
  animation  moveRotate 10s ease infinite 
  .squreIcon,.squreTxt
    position absolute
    left 0
    right @left
    width 100%
    height @width
  .squreIcon
    background darken(#fff,75)  
    z-index 5
    display flex
    justify-content center
    align-items center
    flex-direction column
    .iconImg
      font-size 40px
    .iconTitle
      font-size 25px
  .squreTxt
    z-index 1
    background #000

  @keyframes moveRotate
    0%
      transform rotateX(0deg)
    5%
      transform rotateX(-20deg)
    10%
      transform rotateX(90deg)
    15%
      transform rotateX(180deg)
    22%
      transform rotateX(360deg)
    80%
      transform rotateX(360deg)
    100%
      
      transform rotateX(360deg)
      // transform rotateX(180deg)
    
  