* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}
padding 0 {
  border: 0;
}
padding 0 font-size 100% {
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei', 'Droid Sans', 'PingFang SC', 'SimSun', "Times New Roman";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  min-height: 100%;
}
html {
  background: #fff;
}
ol,
ul,
li {
  list-style: none;
}
input,
button,
option,
textarea,
select {
  background: #fff;
  border: 0;
  outline: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #333;
}
audio,
video,
canvas {
  display: inline-block;
}
img {
  border-style: none;
}
svg:not(root) {
  overflow: hidden;
}
a {
  text-decoration: none;
}
/*****************the function className*****************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  line-height: 0;
  display: table;
}
.clearfix:after {
  clear: both;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.p-e-0 {
  pointer-events: none;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
