@import './mixin.styl'
body
  background darken(#fff,85)!important
  height 100%
  min-width 1200px
  width auto
  // padding  0
html
  padding  0
  height  100%
#root
  height 100%
.switch-wrapper 
  position relative
  height 100%

.switch-wrapper > div 
  // position absolute
  height 100%

.wrapper
  height 100%
  overflow  hidden
  color darken(#fff,30)
  display flex
  flex-direction column
  justify-content space-around
  >header
    height 60px
    width 100% !important
    b-t-c(darken(#fff,70))
    background darken(#fff,85)
    box-shadow 0 5px 20px 2px darken(#fff,80)
    .headerWrapper
      width 1200px
      margin 0 auto
      display flex
      justify-content space-around
      align-items center
      // cursor pointer
      .headerLogo
        // width 260px
        font-size 30px
        line-height @height
        position relative
        .logoTxt
          margin-left 20px
          letter-spacing 5px
        .reflect
          display block
          opacity .2
          position absolute
          top 0
          left 0
          transform scale(0)
      .headerNav
        flex 1   
        margin-left 30px
        ul
          li
            float left
            font-size 14px
            margin-right 30px
            margin-top 5px
            a
              color darken(#fff,50)
              transition color linear .3s
              // &:hover,&.current
              &.current
                color #fff
              >*
                float left
              >i
                margin-right 8px
                margin-top 1px
                &.icon-icon
                  margin-top 0px
                &.icon-guanyu
                  margin-top 2px
      .headerSearch
        // width 200px
        >p
          float left
          margin-left 38px
          &:first-child
            // margin-top 2px
            input
              background darken(#fff,70)
              height 20px
              padding-left 10px
              color darken(#fff,30)
              font-size 12px
            i
              margin-left -20px
              font-size 12px
              color darken(#fff,50)
          &:last-child
            font-size 20px
            i
              margin 0 3px
              color darken(#fff,45)
              transition all linear .4s
          // i:hover
          //   color darken(#fff,10)


  >main
    width 1200px
    margin 0 auto
    flex 1
    overflow-y auto
    &::-webkit-scrollbar
      display none
  >footer
    // color red
    height 30px
    font-size 12px
    text-align center
    line-height 26px
    border-top 1px solid darken(#fff,83)
    // box-shadow 
    box-shadow 0 -5px 16px -6px #333
  
