/**********变量************/ 
$c_blue=darken(#108ee9,0)

/**********继承************/ 
.d-f-j
  display flex
  justify-content space-between
.d-f-c
  display flex 
  justify-content center
  align-items center
.d-f-c
  flex 1
  text-align center
.d-f-a
  display flex 
  justify-content center
  align-items center
.b-0
  border 0
.b-l-0
  border-left 0
.b-r-0
  border-right 0
.b-p-f
  &:first-child
    border 0
.b-p-l
  &:last-child
    border 0

.t-t-r
  transform rotate(90deg)
  transition all ease .3s

.m-a
  display block
  margin 0 auto
/**********函数************/ 
b-r-5($height)
  height $height
  width @height
  border-radius 50%

w-h($c)
  height $c
  width @height

b-c($color)
  border 1px solid $color
b-t-c($color)
  border-bottom 1px solid $color
b-l-c($color)
  border-left 1px solid $color
/**********变量************/ 