.pageHome
  padding 80px 0
  min-height 100%
  // flex 1
  >div
    float left
    // display flex
    // justify-content center
    height 400px
  .left
    width 400px
  .right 
    width 558px
  .center
    width  242px
