
@import './icon/iconfont.css'

*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  padding 0
  margin 0
  border 0
  // transition  all ease 0.4s 
  // max-width 1330px
  outline none
  box-sizing border-box
  font-family 'Microsoft Yahei','Droid Sans','PingFang SC','SimSun',"Times New Roman"
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display block
body
  line-height 1
  margin 0 auto
  background #fff
  min-height 100%

html 
  background #fff
ol,ul,li
  list-style none
  padding 0
input,button,option,textarea,select
  background #fff
  border 0
  outline none
blockquote, q
  quotes none
blockquote:before, blockquote:after,
q:before, q:after 
	content ''
	content none
table
	border-collapse collapse
	border-spacing 0
h1,h2,h3,h4,h5,h6
    font-weight 500
    color#333
audio,video,canvas 
  display inline-block
img
  border-style none

svg:not(root) 
  overflow hidden
a
  text-decoration none

/*****************the function className*****************/ 
.clearfix
  *zoom 1
  &:before,&:after
    content ''
    line-height 0
    display table
  &:after
    clear both
.f-l
  float left
.f-r
  float right
.p-e-0 
  pointer-events none
.p-r
  position relative
.p-a
  position absolute
.c-p
  cursor pointer

.i-h-10:hover
  color darken(#fff,10)!important
  transition all ease .3s
.i-h-5
  color darken

html,body
  height 100%
  width 100%
#root
  height 100%
  overflow auto
  // width 1330px
  margin 0 auto